@require 'nib'
@require 'jeet'

navColor = #333
textColor = #fff
navHeight = 60px

.navbar-component
  absolute: top left
  padding-top: 140px
  z-index: 1000
  color: textColor

  .mode-button
    display: block
    margin: 10px
    border-radius: 100%
    vertical-align: top
    transition: all 0.4s ease-in-out
    height: navHeight
    width: navHeight
    outline: none
    border: none

    &:hover
      height: navHeight * 1.1 !important
      width: navHeight * 1.1 !important

.navbar-component ~ *
  // TODO: ay
  padding-left: navHeight * 1.2
  max-width: "calc(100% - %s)" % (navHeight * 1.2)