@require 'nib'
@require 'jeet'

textColor = #fff
buttonSize = 60px

.navbar-component
  center()
  color: textColor

  .title
    col(1/1)
    stack()
    max-width: 50%

  .mode-button
    transition: opacity 0.2s ease-in-out
    font-smoothing: antialiased
    text-rendering: optimizeLegibility
    font-size: 13px
    text-align: center !important
    text-transform: uppercase
    vertical-align: middle !important
    border-radius: 100%
    vertical-align: top
    height: buttonSize
    width: buttonSize
    outline: none
    border: none
    
    &:hover
      opacity: 0.8

@media screen and (min-width: 600px)
  .title
    margin-bottom: buttonSize !important

  .mode-button
    col(1/1)
    stack()
    margin-bottom: 5px
    
@media screen and (max-width: 600px)
  .title
    display: none !important

  .mode-button
    span(1/6)
    margin-left: 5px
    margin-top: 5px