@require 'nib'
@require 'jeet'

.index-component
  align()
  height: 100%
  width: 100%
  
  .house
    height: 100%
    width: 100%

  .forest
    .window
      fill: #cdc9C4
      
    .trim1
      fill: #fff
    
    .trim2
      fill: #e7e4dc
    
    .main1
      fill: #9ec4c2
    
    .main2
      fill: #23727a
    
    .shadow
      fill: #194B4C
    
    .accent1
      fill: #96acc1
    
    .accent2
      fill: #b19a5b
  
  .royal
    .window
      fill: #cdc9C4
      
    .trim1
      fill: #fff
    
    .trim2
      fill: #e6e3db
    
    .main1
      fill: #cbd1e2
    
    .main2
      fill: #8090b2
    
    .shadow
      fill: #384966
    
    .accent1
      fill: #682b2b
    
    .accent2
      fill: #682b2b